@model ElGamalEncryptViewModel
<div class="forms">
      <h2 class="header">Шифратор Эль Гамаля</h2>
      <form method="post" asp-action="Encrypt">
            <div class="forms_field">
                <label asp-for="Source">Исходная строка:</label>
                <input asp-for="Source" required />
            </div>
            <div class="forms_field">
                  <button type="submit">Зашифровать</button>
            </div>    
      </form>
      <h2 class="header">Результат</h2>
      <div class="message">
            @{
                  var cipher = (IEnumerable<BigInteger>?)ViewData["Cipher"];
                  var publicKey = ((BigInteger, BigInteger, BigInteger)?)ViewData["PublicKey"];
                  var privateKey = ((BigInteger, BigInteger, BigInteger)?)ViewData["PrivateKey"];
            }
            @if(cipher != null && publicKey != null && privateKey != null)
            {
                  <text>
                        <b>Зашифрованное сообщение:</b>
                        @foreach(var block in cipher!)
                        {
                              @(block.ToString() + ' ') 
                        }
                        <br><b>Публичный ключ (p, y, k):</b> (@(publicKey!.Value.Item1), @(publicKey!.Value.Item2), @(publicKey!.Value.Item3))
                        <br><b>Приватный ключ (p, x, r):</b> (@(privateKey!.Value.Item1), @(privateKey!.Value.Item2), @(privateKey!.Value.Item3))
                  </text>
            }           
      </div>
</div>
